//Theme
$primary: #00BDBB;
$secondary: #ffffff;
$dark: #363636;
$light:#C7C8C9;
$lighter:#F8F8F8;
$rating:#FFA127;
//I'm using css varible because it will be changed with js
:root {
    --nav:#00BDBB;
}